<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/" class="homeNav">My Shop</span>
      <span class="example-spacer"></span>
      <button routerLink="/orders" mat-icon-button class="example-icon favorite-icon" aria-label="Order icon">
        <mat-icon>receipt</mat-icon>
      </button>
      <button mat-icon-button routerLink="/cart" class="example-icon" aria-label="Shooping Cart icon">
        <mat-icon *ngIf="cartItemCount > 0" [matBadge]="cartItemCount" matBadgeColor="warn">shopping_cart</mat-icon>
        <mat-icon *ngIf="cartItemCount <= 0" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Profile icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </p>