.example-spacer {
    flex: 1 1 auto;
}
.homeNav{
    cursor: pointer;
}
  
  .demo-section + .demo-section {
    margin-top: 16px;
  }
  .mat-toolbar.mat-primary{
    background-color: hsl(205deg 98% 48% / 95%) !important;
  }