
.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.card-header{
  justify-content: center;
  background-color: hsl(205deg 98% 48% / 95%);
  color: #ffffff;
}
.card-content{
  background-color: #ffffff;
  color: hsl(205deg 98% 48% / 95%);
  font-size: 15px;
  font-weight: 500;
  max-height: 125px;
  height: 125px;
}
.card-footer{
  background-color: hsl(205deg 98% 48% / 95%);
}
.mdc-card::after{
  border-color: hsl(205deg 98% 48% / 95%);
}
.btn-class{
  background-color: #ffffff;
  color: hsl(205deg 98% 48% / 95%) !important;
}
.price-tag{
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding-top: 7px;
}

.cart-img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 150px;
}
.p-title{
  padding: 10px 0px 0px 0px;
}
.p-description{
  object-fit: cover;
  padding: 10px 0px 10px 0px;
}

