<div class="body-section">
    <div>
        <section class="order-section" *ngFor="let order of Orders">
            <div class="invoice-section">
                <div class="order-id">
                    <h1>Order ID: {{order.order_id}}</h1>
                </div>
                <div class="invoice">
                    <button mat-button color="primary" class="btn-class">Invoice</button>
                    <button mat-raised-button >TrackOrder <mat-icon class="material-symbols-outlined">
                        location_on
                    </mat-icon></button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="scroll"  [ngStyle]="{'height':getWidth(order)?'300px':'auto'}">
                <div *ngFor="let oDetail of order.orderDetails">
                    <div class="flex mt-4">
                        <div class="order-image">
                            <img class="img-width" [src]="oDetail.product.thumbnail" alt="">
                        </div>
                        <div class="order-desc">
                            <div class="order-title">
                                <h2>{{oDetail.product.brand}}</h2>
                                <p class="desc-color">{{oDetail.product.description}}</p>
                            </div>
                            <div class="order-price">
                                <h4>${{oDetail.product.price}}</h4>
                                <span class="quantity">QTY:{{oDetail.amount}}</span>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </section>
    </div>
</div>