<div class="body-section">
    <div>
        <section class="order-section">
            <div class="invoice-section">
                <div class="order-id">
                    <h1>Order ID: 12345</h1>
                </div>
                <div class="invoice">
                    <button mat-button color="primary" class="btn-class">Invoice</button>
                    <button mat-raised-button >TrackOrder <mat-icon class="material-symbols-outlined">
                        location_on
                    </mat-icon></button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="scroll">
                <div class="flex mt-4" *ngFor="let num of [1,2,3,4,5,6]">
                    <div class="order-image">
                        <img class="img-width" src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/53743/right-side-view.jpeg?q=100" alt="">
                    </div>
                    <div class="order-desc">
                        <div class="order-title">
                            <h2>Lorem</h2>
                            <p class="desc-color"><span>space gary</span><span>32 GB </span> <span> 1TB</span></p>
                        </div>
                        <div class="order-price">
                            <h4>$300</h4>
                            <span class="quantity">QTY:1</span>
                        </div>
                    </div>
                </div>
               
               
            </div>
           <mat-divider></mat-divider>
        </section>
    </div>
</div>